# Ignore all
*

# Adding files and dirs
!/.gitignore
!/README.md
!/CHANGELOG.md
!/LastChanges.md
!/CHX*/
!/CHX*/*
!/0Config/
!/0Config/*

# Modified oficial plugs
!/jump/
!/jump/jump.lua
!/snippets/
!/snippets/snippets/
!/snippets/snippets/pascal.snippets
